#check_x5F_list{width: 300px; height: 500px;}
.st0{fill:none;stroke:#ffffff;stroke-width:3;stroke-miterlimit:10;}
.st1{fill:none;stroke:#23B320;stroke-width:3;stroke-miterlimit:10;
     opacity:0; animation: check_mark 1s 1 6s forwards;}

#texts{fill:#ffffff;}

#check_x5F_1{animation-delay: 0s;}
#check_x5F_2{animation-delay: 1s;}
#check_x5F_3{animation-delay: 2s;}
#check_x5F_4{animation-delay: 3s;}
#check_x5F_5{animation-delay: 4s;}
#check_x5F_6{animation-delay: 5s;}

@keyframes check_mark {
    from{opacity: 0;}
    to{opacity: 1;}
}