#check_x5F_list{width: 300px; height: 500px;}
.st0{fill:none;stroke:#ffffff;stroke-width:3;stroke-miterlimit:10;}
.st1,.st2{fill:none;stroke:#23B320;stroke-width:3;stroke-miterlimit:10;}
.st1{opacity:0; animation: check_mark 10s infinite ;}

#Board{fill:none;}
#texts{fill:#ffffff;}

#check_x5F_1{animation-delay: 0s;}
#check_x5F_2{animation-delay: 1s;}
#check_x5F_3{animation-delay: 2s;}
#check_x5F_4{animation-delay: 3s;}
#check_x5F_5{animation-delay: 4s;}
#check_x5F_6{animation-delay: 5s;}

@keyframes check_mark {
    0%{opacity: 0;}
    5%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}