#gear1{
    fill: rgb(132,157,204);
    animation: rotate_gear_ccw 5s linear infinite;
	transform-origin:  227.1px 142.7px;
}
#gear2{
    fill: #ff9900;
    animation: rotate_gear_ccw 7s linear infinite;
	transform-origin:  84.8px 99.6px;
}
	
#gear3{
    fill:rgba(56,154,66,1);
    animation: rotate_gear_cw 10s linear infinite;
	transform-origin:  136.55px 291.5px;
}
@keyframes rotate_gear_cw {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate_gear_ccw {
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg);}
}