#gear1{
    fill: #80e0f0;;
    animation: rotate_gear_ccw 5s linear infinite;
	transform-origin:  327.1px 181.75px;
}
#gear2{
    fill: rgb(194, 243, 141);
    animation: rotate_gear_ccw 7s linear infinite;
	transform-origin:  203.8px 131.6px;
}
	
#gear3{
    fill: rgb(221, 135, 238);
    animation: rotate_gear_cw 10s linear infinite;
	transform-origin:  236.55px 329.5px;
}
@keyframes rotate_gear_cw {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate_gear_ccw {
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg);}
}