:root{
    --main-lo:5s;
    --main-type-speed:0.5s;
    --main-word-delay:1s;
    --main-type-w1:calc(18*var(--main-type-speed));
    --main-delay-w2:calc(var(--main-lo) + var(--main-type-w1) + var(--main-word-delay));
    --main-delay-w3:calc(var(--main-delay-w2) + 3 * var(--main-type-speed) + var(--main-word-delay));

    --main-color-purple:#A074C4;
    --main-color-blue-d:#519ABA;
    --maincolor-blue-b:#569CD6;
    --main-color-orange:#D14E28;
    --main-color-green_1:#6A9955;
    --main-color-green_2:#16825D;
    --main-color-green_3:#487E02;
    --main-color-yellow:#CBBD2D;
    --main-color-w5b0: #F0F0F0;
    --main-color-w4b1:#CCCCCC;
    --main-color-w3b2:#333333;
    --main-color-w2b3:#252526;
    --main-color-w1b4:#1E1E1E;
}



#h-f{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) var(--main-lo) 1 forwards;}
#h-u{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-l-1{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(2*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-l-2{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(3*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-l-3{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(13*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-s{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(4*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-t{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(5*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-a{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(6*var(--main-type-speed) + var(--main-lo)) 1 forwards ;}
#h-c{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(7*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-k{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(8*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-d{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(9*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-e-1{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(10*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-e-2{fill:var(--main-color-w5b0);opacity: 0.5;animation:kyck var(--main-type-speed) calc(12*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-e-3{fill:var(--main-color-w5b0);opacity: 0.5;animation:kyck var(--main-type-speed) calc(16*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-v{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(11*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-o{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(14*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-p{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(15*var(--main-type-speed) + var(--main-lo)) 1 forwards;}
#h-r{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck var(--main-type-speed) calc(17*var(--main-type-speed) + var(--main-lo)) 1 forwards ;}

#SEO-S{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck2 var(--main-type-speed) calc(var(--main-delay-w2)) 1 forwards;}
#SEO-E{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck2 var(--main-type-speed) calc(1 * var(--main-type-speed) + var(--main-delay-w2)) 1 forwards;}
#SEO-O{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck2 var(--main-type-speed) calc(2 * var(--main-type-speed) + var(--main-delay-w2)) 1 forwards;}

#GRA-G{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(var(--main-delay-w3)) 1 forwards;}
#GRA-R{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(1 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}
#GRA-A{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(2 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}
#GRA-P{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(3 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}
#GRA-H{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(4 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}
#GRA-I{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(5 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}
#GRA-C{fill:var(--main-color-w5b0);opacity: 0.5;animation: kyck3 var(--main-type-speed) calc(6 * var(--main-type-speed) + var(--main-delay-w3)) 1 forwards;}

/********************** KeyBoard **********************/
path{fill:var(--main-color-w5b0);opacity: 0.5;}
#F{animation: kyck var(--main-type-speed) var(--main-lo) 1;}
#U{animation: kyck var(--main-type-speed) calc(var(--main-type-speed) + var(--main-lo)) 1;}
#L{animation: kyck var(--main-type-speed) calc(2 * var(--main-type-speed) + var(--main-lo)) 1, kyck var(--main-type-speed) calc(3 * var(--main-type-speed) + var(--main-lo)) 1, kyck var(--main-type-speed) calc(13 * var(--main-type-speed) + var(--main-lo)) 1;}
#S{animation: kyck var(--main-type-speed) calc(4 * var(--main-type-speed) + var(--main-lo)) 1, kyck2 var(--main-type-speed) var(--main-delay-w2) 1;}
#T{animation: kyck var(--main-type-speed) calc(5 * var(--main-type-speed) + var(--main-lo)) 1;}
#A{animation: kyck var(--main-type-speed) calc(6 * var(--main-type-speed) + var(--main-lo)) 1, kyck3 var(--main-type-speed) calc( 2 * var(--main-type-speed) + var(--main-delay-w3)) 1;}
#C{animation: kyck var(--main-type-speed) calc(7 * var(--main-type-speed) + var(--main-lo)) 1, kyck3 var(--main-type-speed) calc(6*var(--main-type-speed) + var(--main-delay-w3)) 1;}
#K{animation: kyck var(--main-type-speed) calc(8 * var(--main-type-speed) + var(--main-lo)) 1;}
#D{animation: kyck var(--main-type-speed) calc(9 * var(--main-type-speed) + var(--main-lo)) 1;}
#E{animation: kyck var(--main-type-speed) calc(10 * var(--main-type-speed) + var(--main-lo)) 1, kyck var(--main-type-speed) calc(12 * var(--main-type-speed) + var(--main-lo)) 1, kyck var(--main-type-speed) calc(16 * var(--main-type-speed) + var(--main-lo)) 1, kyck2 var(--main-type-speed) calc(var(--main-type-speed) + var(--main-delay-w2)) 1;}
#V{animation: kyck var(--main-type-speed) calc(11 * var(--main-type-speed) + var(--main-lo)) 1;}
#O{animation: kyck var(--main-type-speed) calc(14 *var(--main-type-speed) + var(--main-lo)) 1, kyck2 var(--main-type-speed) calc(2 * var(--main-type-speed) + var(--main-delay-w2)) 1;}
#P{animation: kyck var(--main-type-speed) calc(15 * var(--main-type-speed) + var(--main-lo)) 1, kyck3 var(--main-type-speed) calc(3 * var(--main-type-speed) + var(--main-delay-w3)) 1;}
#R{animation: kyck var(--main-type-speed) calc(17 * var(--main-type-speed) + var(--main-lo)) 1, kyck3 var(--main-type-speed) calc(1 * var(--main-type-speed) + var(--main-delay-w3)) 1;}

#G{animation: kyck3 var(--main-type-speed) var(--main-delay-w3) 1;}
#H{animation: kyck3 var(--main-type-speed) calc( 4 * var(--main-type-speed) + var(--main-delay-w3)) 1;}
#I{animation: kyck3 var(--main-type-speed) calc( 5 * var(--main-type-speed) + var(--main-delay-w3)) 1;}


/********************* Animations *********************/
@keyframes kyck {
    from{fill:var(--main-color-w5b0);opacity: 0.5;}
    to{fill:var(--main-color-purple);opacity: 1;}   
}
@keyframes kyck2 {
    from{fill:var(--main-color-w5b0);opacity: 0.5;}
    to{fill:var(--main-color-green_1);opacity: 1;}
}
@keyframes kyck3 {
    from{fill:var(--main-color-w5b0);opacity: 0.5;}
    to{fill:var(--main-color-blue-d);opacity: 1;}   
}