i{  text-shadow: 0 0 5px gray, 0 0 5px gray, 0 0 5px gray, 0 0 5px gray;}
.sociallink{font-size: 2em;}
.services div>div>div{border: 2px solid red;}
#web_subservices,#graphic_subservices{display: none;opacity: 0;}
#services_graphic,#services_web{
    transition: min-width 1s;min-width:20%;min-height: 300px;}
#services_graphic h2,#services_web h2{display: inline;}
#services_graphic:hover,#services_web:hover {min-width: 80%;}
#services_web:hover #web_subservices, #services_graphic:hover #graphic_subservices{display: flex;animation: subservices 1.5s 1s 1 forwards; }

@keyframes subservices {
    from{opacity: 0;}
    to{opacity: 1;}   
}





