/***** Navigation *****/
.navigation{
    position: fixed;top: 0px; 
    background-color: aqua;
    width: 100%;
}


/***** Footee *****/
.footer{position: fixed;
    bottom: 0px; 
    background-color: aqua;width: 100%;
}
