:root{
    --main-lo:5s;
    --main-type-speed:0.5s;
    --main-word-delay:1s;
    --main-type-w1:calc(18*var(--main-type-speed));
    --main-delay-w2:calc(var(--main-lo) + var(--main-type-w1) + var(--main-word-delay));
    --main-delay-w3:calc(var(--main-delay-w2) + 3 * var(--main-type-speed) + var(--main-word-delay));

    --main-slides-duration:10s;
    --main-slide-duration:calc(var(var(--main-slides-duration) * 2 / 9));
    --main-slide-tranition:calc(var(var(--main-slides-duration) * 1 / 36));
    --main-slide-delay:calc( var(--main-slides-duration) / 4);

    --main-color-purple:#A074C4;
    --main-color-blue-d:#519ABA;
    --main-color-blue-d-rgb:81, 154, 186;
    --maincolor-blue-b:#569CD6;
    --main-color-orange:#D14E28;
    --main-color-green_1:#6A9955;
    --main-color-green_2:#16825D;
    --main-color-green_3:#487E02;
    --main-color-yellow:#CBBD2D;
    --main-color-w5b0: #F0F0F0;
    --main-color-w5b0-rgb:240, 240, 240;
    --main-color-w4b1:#CCCCCC;
    --main-color-w4b1-rgb:204, 204, 204;
    --main-color-w3b2:#333333;
    --main-color-w3b2-rgb:51, 51, 51;
    --main-color-w2b3:#252526;
    --main-color-w2b3-rgb:37, 37, 38;
    --main-color-w1b4:#1E1E1E;
    --main-color-w1b4-rgb:30, 30, 30;

    
    --bs-dark-rgb:var(--main-color-w1b4-rgb);
    --bs-gray-dark-rgb:var(--main-color-w2b3-rgb);
    --bs-gray-rgb:var(--main-color-w3b2-rgb);
    --bs-light-rgb:var(--main-color-w4b1);
    --bs-white-rgb:var(--main-color-w5b0-rgb);
    --bs-body-bg-rgb:var(--main-color-w3b2-rgb);

}
.c_wrapper{max-width: 1000px;margin: auto;}
body{background-color: var(--main-color-w3b2);color: var(--main-color-w5b0);}
/* .p_projects{ display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-columns: minmax(0, 1fr);
grid-auto-flow: column;
grid-template-areas: 
"p1-inf p1-pic"
"p2-pic p2-inf"
"p3-inf p3-pic"
"p4-pic p4-inf";
}
#portfolio{} */
.c_container{display: flex; flex-direction: row;align-items: center;}
.project_description, .project_slides{width:50%;}




