.selector-for-some-widget {
    box-sizing: content-box;
  }
  :root{
    --main-lo:5s;
    --main-type-speed:0.5s;
    --main-word-delay:1s;
    --main-type-w1:calc(18*var(--main-type-speed));
    --main-delay-w2:calc(var(--main-lo) + var(--main-type-w1) + var(--main-word-delay));
    --main-delay-w3:calc(var(--main-delay-w2) + 3 * var(--main-type-speed) + var(--main-word-delay));

    --main-color-purple:#A074C4;
    --main-color-blue-d:#519ABA;
    --main-color-orange:#D14E28;
    --main-color-green_1:#6A9955;
    --main-color-green_2:#16825D;
}
